* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
}

#urlInput {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

video {
    max-width: 100%;
    height: auto;
}
